/* You can add global styles to this file, and also import other style files */


.parent{
	height: 400px; 
	width: 600px; 
	border: 2px solid black; 
	display: inline-grid;
}

.parentBtn{
	height: 25px;
	width: 50px;
}


.child{
	height: 200px; 
	width: 250px;
	border: 2px solid blue;
	float: left;
}

.child .messages{
	text-align: center;
}
h1{
	text-align: center;
}

.parent h2{
	text-align: center;
}


.container{
	text-align: center;
}

.mainMsg{
	text-align: center;
}

.childMsg{
	text-align: center;
}



.child p{
	margin-bottom: -10%;
}

.childBtn{
	margin-top: 10%;
	height: 25px;
	width: 150px;
	display: inline-block;
	margin-left: 5%;

}

.child input {
	width: 50px;
}

.childInput{
	text-align: center;
}

.sibling{
	height: 200px; 
	width: 250px;
	border: 2px solid red; 
	float: right;
	margin-top: -35%;
	margin-right: 5%;
	
}

.siblingBtn{
	margin-top: 5%;
	height: 25px;
	width: 50px;

}

.siblingInput{
	text-align: center;
}
.siblingInput input{
	width: 50px;
}